# Configuración del servidor
PORT=4000
NODE_ENV=development

# Configuración de PostgreSQL (Supabase pooler)
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=maqagr_app.txxbpifbtdlhbgmjjdeh
DB_PASS=AppMaqagr2026@
DB_SSL=true

# Redis (deshabilitado en local)
REDIS_ENABLED=false

# JWT Secret para autenticación
JWT_SECRET=9fA3KxQmL2PZ7R8eWbYJH6C@T$N!sU4rD5V0eXcM1gB
JWT_EXPIRES_IN=24h

# Cloudinary (subida de imágenes)
CLOUD_NAME=dgjnium8l
CLOUD_KEY=623976825567484
CLOUD_SECRET=58ULeHDQSrQo1Kz5-jmL9AzDLRI

# Storage type
STORAGE_TYPE=cloudinary
